{% extends "catalog/base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Введите новый пароль</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Повторите пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Сменить пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Ошибка смены пароля</h1>
        <p>Ссылка на смену пароля недействительна, возможно потому, что уже была использована, пожалуйста, запросите смену еще раз.</p>
    {% endif %}

{% endblock %}
